.mb-footer{
  background: rgb(26,74,117);
  background: linear-gradient(90deg, rgba(26,74,117,1) 19%, rgba(44,78,121,1) 94%); 
}
.social-buttons{
  ::ng-deep{
    .btn{
      padding: 0.375rem 0.75rem;
    }
  }
}

