.background-img-snow{
  background-image: url("../../assets/img/gallery-img/Gebirgsee.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;
  min-height: 400px;
  background-color: gray;
  background-blend-mode: multiply;
}
.bergfuehrer{
  height: auto;
  background-color: whitesmoke;
}
.background-img-mount{
  background-image: url("../../assets/img/gallery-img/Gebirgsee.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;
  min-height: 500px;
}

.bergwanderfuehrer{
  height: auto;
  background-color: whitesmoke;
}
.decorator{
  border-bottom: 5px solid rgba(74,107,179,0.9);
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
  -ms-animation: fadein 5s; /* Internet Explorer */
  -o-animation: fadein 5s; /* Opera < 12.1 */
  animation: fadein 5s;
  width: 90%;
  text-align: center;
  margin: auto;
}

.title{
  text-align: center;
  margin-bottom: 2rem;
}

.icon-img{
  margin: 2rem auto 2rem auto;
  display: block;
  height: auto;
  width: 8rem;
  transition: 0.5s;
}
.icon-img:hover{
  transform: scale(1.05);
}

.container{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 1024px) {
  ::ng-deep{
    .col {
      padding-left: 2px;
      padding-right: 2px;
    }
  }
}

@media only screen and (max-width: 670px) {
  .offers{
    display: block !important;
  }
}
.offers{
  display: none;
  margin: 2rem auto 2rem auto;
  width: 70%;
}

.offers-title{
  border-bottom: 3px solid rgba(74,107,179,0.9);
  text-align: center;
}

.list-element{
  padding: .5rem;
}
