.img-fluid{
  height: auto;
}
.card:hover{
  transform: scale(1.1);
  transition: 1.2s;
}
.card{
  margin-bottom: 1rem;
  border-radius: 5%;
  transition: 800ms ease-in-out;
}
.view{
  border-radius: 1%;
}
