:host::ng-deep.custom-galleria
{ &.p-galleria
{ &.fullscreen
  { display: flex; flex-direction: column;
    .p-galleria-content
    { flex-grow: 1; justify-content: center; } }
  .p-galleria-content { position: relative; }
  .p-galleria-indicators {background-color: black}
  .p-galleria-thumbnail-wrapper { position: absolute; bottom: 0; left: 0; width: 100%; }
  .p-galleria-thumbnail-items-container { width: 100%; }
  .custom-galleria-footer { display: flex; align-items: center; background-color: rgba(0, 0, 0, .9); color: #ffffff; > button { background-color: transparent; color: #ffffff; border: 0 none; border-radius: 0; margin: .2rem 0;
    &.fullscreen-button { margin-left: auto; } &:hover { background-color: rgba(255, 255, 255, 0.1); } } }
  .title-container { > span { font-size: .9rem; padding-left: .829rem;
    &.title { font-weight: bold; } } } } }


@media only screen and (max-width: 1024px) {
  ::ng-deep{
    .p-galleria-item>img {
      width: 750px;
    }
    .p-galleria-indicators .p-galleria-indicato button{
      width: .5rem !important;
      height: .5rem !important;
    }
  }
}
@media only screen and (max-width: 670px) {
  ::ng-deep{
    .p-galleria-item>img {
      width: 600px;
    }
    .p-link{
      width: .5rem !important;
      height: .5rem !important;
    }
    #galleria.p-galleria.p-galleria-indicators>button{
      width: .5rem !important;
      height: .5rem !important;
    }
  }
}

::ng-deep.p-galleria .p-galleria-item-nav:not(.p-disabled):hover{
  background-color: rgba(74, 107, 179, 0.9);
  opacity: 1%;
}
