::ng-deep.carousel{
  z-index: 1;
}


@media only screen and (max-width: 1024px) {
  .header-slider{
    ::ng-deep.carousel-inner .carousel-item .view>img{
        height: 22rem;
    }
  }
}
@media only screen and (max-width: 670px) {
  ::ng-deep.carousel-caption{
    display: none;
  }
}

