.tariffs-title{
  text-align: center;
  margin-top: 6rem;
  border-bottom: 3px solid rgba(74,107,179,0.9);
}
.tariffs-container{
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  margin-bottom: 6rem;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.card-body>button{
  text-align: center;
  border-radius: 20px;
}
.decorator{
  border-bottom: 5px solid rgba(74,107,179,0.9);
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
  -ms-animation: fadein 5s; /* Internet Explorer */
  -o-animation: fadein 5s; /* Opera < 12.1 */
  animation: fadein 5s;
  width: 90%;
  text-align: center;
  margin: auto;
}
.tariffs-icon-summer{
  margin: auto;
  font-size: 6rem;
  display: table;
  color: #eee51b;
  cursor: pointer;
}
.tariffs-icon-winter{
  margin: auto;
  font-size: 6rem;
  display: table;
  color: rgba(74,107,179,0.9);
  cursor: pointer;
}
.tariffs-label{
  text-align: center;
  cursor: pointer;
}
.tariffs-text {
  text-align: center;
  margin-top: 2rem;
}
.tariffs{
  margin-top: 2rem;
}
.hover-div:hover{
  transform: scale(1.05);
}
.hover-div{
  transition: 0.5s;
}
.animate-icon{
  animation: rotating 4s linear infinite;
}
@keyframes rotating {
  0%  { transform: rotate(0);}
  100%{ transform: rotate(1turn);}
}
::ng-deep.modal-header{
  background: #6baccf;
  border: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.homepage-welcome-title{
  display: none;
  text-align: center;
  background: rgba(74, 107, 179, 0.9);
  color: whitesmoke;
  font-style: italic;
  box-shadow: 2px 2px 2px black;
  width: 95%;
  margin: 5rem auto 0 auto;
}

@media only screen and (max-width: 670px) {
  .homepage-welcome-title{
    display: block;
  }
}

