/* You can add global styles to this file, and also import other style files */
body{
  background-color: whitesmoke;
  opacity: 99%;
  h1{
    font-family: 'Roboto-Medium';
  }
  h3{
    font-family: 'Roboto-Medium';
  }
}



@font-face {
  font-family: 'Roboto-Black';
  src: url('./assets/fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('./assets/fonts/Roboto-Medium.ttf') format('truetype');

}